---
const { title, description } = Astro.props;
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Footer from '~/components/shared/footer/Footer.component.astro';
import TopBar from '../components/TopBar.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Basic SEO  -->
    <meta name="description" content={description} />
    <!-- <meta name="keywords" content="palabras, clave, relacionadas" /> -->

    <!-- Open Graph (para Facebook, LinkedIn, WhatsApp) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <!-- <meta property="og:url" content="https://tudominio.com" />
    <meta property="og:image" content="https://tudominio.com/preview.jpg" /> -->
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <TopBar />
    <div class="max-w-screen-2xl mx-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>
