---
const { title, description } = Astro.props;
import { domain } from './../content/vars.ts';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Footer from '~/components/shared/footer/Footer.component.astro';
import TopBar from '../components/TopBar.astro';
import '../styles/global.css';

const link = Astro.url.href;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Basic SEO  -->
    <meta name="description" content={description} />
    <!-- <meta name="keywords" content="palabras, clave, relacionadas" /> -->

    <!-- Open Graph (para Facebook, LinkedIn, WhatsApp) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={link} />
    <meta property="og:image" content={domain + '/logo.png'} />
    <meta property="og:image:alt" content="AICCRA Innovation Catalog Logo" />
    <meta property="og:logo" content={domain + '/logo.png'} />
    <meta property="og:site_name" content="AICCRA Innovation Catalog" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={domain + '/logo.png'} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-white">
    <TopBar />
    <div class="max-w-screen-2xl mx-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>
