---
const { title, description } = Astro.props;
import { domain } from './../content/vars.ts';
import '../styles/global.css';
import Footer from '~/components/shared/footer/Footer.component.astro';
import TopBar from '../components/TopBar.astro';
import '../styles/global.css';
import NewsletterWidget from '~/components/NewsletterWidget.vue';
import FeedbackWidget from '~/components/FeedbackWidget.vue';

const link = Astro.url.href;
const gaId = import.meta.env.PUBLIC_GA_ID;
const clarityId = import.meta.env.PUBLIC_CLARITY_ID;

const gaScript = `
  // @ts-ignore
  window.dataLayer = window.dataLayer || [];
  // @ts-ignore
  function gtag() {
    dataLayer.push(arguments);
  }
  // @ts-ignore
  gtag('js', new Date());
  // @ts-ignore
  gtag('config', '${gaId}');
`;

const clarityScript = `
  (function (c, l, a, r, i, t, y) {
    c[a] =
      c[a] ||
      function () {
        (c[a].q = c[a].q || []).push(arguments);
      };
    t = l.createElement(r);
    t.async = 1;
    t.src = 'https://www.clarity.ms/tag/' + i;
    y = l.getElementsByTagName(r)[0];
    y.parentNode.insertBefore(t, y);
  })(window, document, 'clarity', 'script', '${clarityId}');
`;
---

<html lang="en">
  <head>
    <script is:inline async src={`https://www.googletagmanager.com/gtag/js?id=${gaId}`}></script>
    <script is:inline set:html={gaScript} />
    <script is:inline type="text/javascript" set:html={clarityScript} />
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon-aiccra.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- Basic SEO  -->
    <meta name="description" content={description} />
    <!-- <meta name="keywords" content="keywords, related, terms" /> -->

    <!-- Open Graph (for Facebook, LinkedIn, WhatsApp) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={link} />
    <meta property="og:image" content={domain + '/logo.png'} />
    <meta property="og:image:alt" content="AICCRA Innovation Catalog Logo" />
    <meta property="og:logo" content={domain + '/logo.png'} />
    <meta property="og:site_name" content="AICCRA Innovation Catalog" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={domain + '/logo.png'} />
    <title>{title}</title>
  </head>
  <body class="bg-white overflow-x-hidden overflow-y-auto min-h-[100vh] m-0 p-0">
    <div id="screenshot-area" class="bg-white">
      <TopBar />
      <div class="max-w-screen-2xl mx-auto">
        <slot />
      </div>
      <Footer />
    </div>
    <NewsletterWidget client:only />
    <FeedbackWidget client:only />
  </body>
</html>
