---
const currentYear = new Date().getFullYear();
import { Image } from 'astro:assets';
import { texts } from '~/content/texts';
import Tractor from '~/images/tractor.png';

interface Props {
  showGlossary?: boolean;
}

const { showGlossary = false } = Astro.props;
---

<footer class="text-white relative mb-0">
  <div class="bg-[#1C3D2E] py-4 lg:py-6">
    <div class="container mx-auto py-4 px-4 lg:py-5 lg:px-8 2xl:px-12">
      <div class:list={['grid grid-cols-1 gap-6 pb-6 lg:pb-10', showGlossary ? 'lg:grid-cols-[1fr_0.5fr_0.5fr]' : 'lg:grid-cols-2 lg:gap-12']}>
        <div class="h-fit text-left text-xs lg:text-sm">
          <strong class="text-medium">{texts.footer.contact.title}</strong>
          <ul>
            <li class="opacity-70"><a class="hover:underline" href="mailto:MARLOSupport@cgiar.org">{texts.footer.contact.email}</a></li>
          </ul>
        </div>
        <div class="h-fit text-left text-xs lg:text-sm">
          <strong class="text-medium">{texts.footer.legal.title}</strong>
          <ul>
            <li class="opacity-70">
              <a class="hover:underline" target="_blank" href="https://aiccra.marlo.cgiar.org/legalInformation.do#privacyNotice"
                >{texts.footer.legal.privacyNotice}</a
              >
            </li>
            <li class="opacity-70">
              <a class="hover:underline" target="_blank" href="https://aiccra.marlo.cgiar.org/legalInformation.do#termsConditions"
                >{texts.footer.legal.termsAndConditions}</a
              >
            </li>
          </ul>
        </div>
        {
          showGlossary && (
            <div class="h-fit text-left text-xs lg:text-sm">
              <strong class="text-medium">{texts.footer.other.title}</strong>
              <ul>
                <li class="opacity-70">
                  <a class="hover:underline" target="_blank" href="https://aiccra.marlo.cgiar.org/glossary.do">
                    {texts.footer.other.glossary}
                  </a>
                </li>
              </ul>
            </div>
          )
        }
      </div>

      <div class="text-xs copyRight">
        <hr class="mb-3 lg:mb-5" />
        <span>Copyright &#169; 2013-{currentYear} Alliance of Bioversity International and CIAT.</span><br />
        <div class="flex flex-col gap-3 lg:flex-row lg:justify-between lg:gap-0">
          <span class="opacity-70">
            Developed by the Innovation and Business Development (IBD) team of the Technology Integration Unit.<span>
              <br />
              <span>Some rights reserved</span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
