---
import { Image } from 'astro:assets';
import Icon1 from '../../../images/icon-1.png';
import Icon2 from '../../../images/icon-2.png';
import Icon3 from '../../../images/icon-3.png';
import { texts } from '../../../content/texts';
const stats = [
  {
    title: 'Total innovations',
    value: 32,
    imagePath: Icon1
  },
  {
    title: 'Countries',
    value: 25,
    imagePath: Icon2
  },
  {
    title: 'CounAverage scaling readinesstries',
    value: 7,
    imagePath: Icon3
  }
];
---

<div class="flex justify-between text-4xl mt-10">
  <div class="uppercase text-[#0277A2] text-3xl font-semibold max-w-[500px]">{texts.home.overviewStatsTitle}</div>
  <div class="flex gap-7 items-center">
    {
      stats.map((stat, index) => (
        <>
          <div class="flex items-center gap-5">
            {<Image height="35" quality="low" src={stat.imagePath} alt={stat.title} />}
            <div>
              <div class="text-xl font-600 -mb-1.5">{stat.value}</div>
              <div class="text-sm text-gray-400 font-light">{stat.title}</div>
            </div>
          </div>
          {index < stats.length - 1 && <div class="bg-gray-300 h-12 w-0.5" />}
        </>
      ))
    }
  </div>
</div>
