---
import { Image } from 'astro:assets';
import Icon1 from '../../../images/icon-1.png';
import Icon2 from '../../../images/icon-2.png';
import Icon3 from '../../../images/icon-3.png';
import { texts } from '../../../content/texts';
import type { InnovationCatalogV2Stats } from '~/interfaces/innovation-catalog-v2.interface';

async function fetchStatsInnovations(): Promise<InnovationCatalogV2Stats | null> {
  const baseApiUrl = import.meta.env.PUBLIC_API;
  const url = `${baseApiUrl}/innovations/stats?phaseId=428`;
  try {
    const response = await fetch(url, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    });
    if (!response.ok) {
      throw new Error(`Error fetching stats: ${response.statusText}`);
      return null;
    }
    const data = await response.json();
    return data;
  } catch (error) {
    console.error('Failed to fetch stats:', error);
    return null;
  }
}

const statsData = await fetchStatsInnovations();

const stats = [
  {
    title: 'Total innovations',
    value: statsData?.innovationCount || 0,
    imagePath: Icon1
  },
  {
    title: 'Countries',
    value: statsData?.countryCount || 0,
    imagePath: Icon2
  },
  {
    title: 'Average scaling readiness',
    value: statsData?.averageScalingReadiness || 0,
    imagePath: Icon3
  }
];
---

<div class="container mx-auto flex justify-between text-4xl mt-10 p-0 xl:p-16 2xl:p-20">
  <div class="uppercase text-[#0277A2] text-2xl font-bold max-w-[450px]">{texts.home.overviewStatsTitle}</div>
  <div class="flex gap-5 items-center">
    {
      stats.map((stat, index) => (
        <>
          <div class="flex items-center gap-2.5">
            {<Image height="35" quality="low" src={stat.imagePath} alt={stat.title} />}
            <div>
              <div class="text-base font-600 -mb-1.5">{stat.value}</div>
              <div class="text-xs text-gray-400 font-light">{stat.title}</div>
            </div>
          </div>
          {index < stats.length - 1 && <div class="bg-gray-300 h-12 w-0.5" />}
        </>
      ))
    }
  </div>
</div>
