---
import { Image } from 'astro:assets';
import Icon1 from '../../../images/icon-1.png';
import Icon2 from '../../../images/icon-2.png';
import Icon3 from '../../../images/icon-3.png';
import { texts } from '../../../content/texts';
import type { InnovationCatalogV2Stats } from '~/interfaces/innovation-catalog-v2.interface';
import { useApi } from '~/composables/useApi';

async function fetchStatsInnovations(): Promise<InnovationCatalogV2Stats | null> {
  const { getInnovationStats } = useApi();
  try {
    const response = await getInnovationStats({
      phaseId: '428'
    });
    return response;
  } catch (error) {
    console.error('Failed to fetch stats:', error);
    // Return fallback data instead of null
    return {
      innovationCount: 0,
      countryCount: 0,
      averageScalingReadiness: 0,
      phaseId: 428
    };
  }
}

const statsData = await fetchStatsInnovations();

const stats = [
  {
    title: 'Total innovations',
    value: statsData?.innovationCount ?? 0,
    imagePath: Icon1
  },
  {
    title: 'Countries',
    value: statsData?.countryCount ?? 0,
    imagePath: Icon2
  },
  {
    title: 'Average scaling readiness',
    value: statsData?.averageScalingReadiness ?? 0,
    imagePath: Icon3
  }
];
---

<div class="container mx-auto flex justify-between text-4xl mt-10 p-0 xl:px-16 2xl:px-20">
  <div class="uppercase text-[#0277A2] text-xl font-bold max-w-[425px] lg:max-w-[475px] xl:max-w-[550px]">{texts.home.overviewStatsTitle}</div>
  <div class="flex gap-8 items-center bg-gradient-to-r from-white to-[#E0EBED1A] rounded-lg p-4 shadow-[0_2px_8px_-4px_rgba(0,0,0,0.1)]">
    {
      stats.map((stat, index) => (
        <>
          <div class="flex items-center gap-4">
            {<Image height="40" src={stat.imagePath} alt={stat.title} />}
            <div class="flex flex-col gap-1">
              <div class="text-lg font-600 -mb-1.5">{stat.value}</div>
              <div class="text-xs text-gray-400 font-light">{stat.title}</div>
            </div>
          </div>
          {index < stats.length - 1 && <div class="bg-gray-300 h-12 w-0.5" />}
        </>
      ))
    }
  </div>
</div>
